body {
    margin: 0px;
}

                                            /* SECTION 1 */
.sect1 {
    padding: 45px;
    padding-top: 35px;
    background-color: rgb(170, 218, 235);
    background-size: cover;
}

.sub {
    padding: 20px;
    padding-left: 0px;
    display: flex;
}

.logo {
    width: 240px;
    height: 44px;
}

.btn1 {
    font-weight: bold;
   border-radius: 20px;
   background-color: #fff;
    border: 1px solid #fff;
   padding: 10px 30px;
   vertical-align: middle;
   margin-left: auto;
}

.btn1:hover {
    font-weight: normal;
    background-color: rgba(247, 247, 247, 0.952);
    border: 1px solid rgba(247, 247, 247, 0.952);
}

.sub-container1 {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.sub-container1 .writings1 {
    align-self: center;
    text-align: left;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

.writings1 > p {
    font-size: 20.5px;
    font-weight: 300;
}

.btn2 {
    font-weight: bold;
    padding: 15px 55px;
    border-radius: 30px;
    color: #fff;
    background-color: rgba(250, 6, 197, 0.986);
    border: 1px solid rgba(250, 6, 197, 0.986);
    
}

.btn2:hover {
    cursor: pointer;
    background-color: rgba(243, 128, 218, 0.986);
    border: 1px solid rgba(243, 128, 218, 0.986);
}



                                    /* SECTION 2 */
.sub-container2 {
    display: flex;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(182, 179, 179, 0.904);
    margin-top: 100px;
    margin-left: 90px;
    margin-right: 90px;
}

.sub-container2 .writings2 {
    text-align: left;
    align-self: center;
    margin-left: 90px;
    margin-right: 20px;
}

h2 {
    font-size: 30px;
}

.sub2-image img {
    margin: 40px;
}

.sub-container3 {
    display: flex;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(182, 179, 179, 0.904);
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 90px;
}

.sub3-image img {
    margin: 40px;
    margin-left: 90px;
}

.sub-container3 .writings3 {
    text-align: left;
    align-self: center;
    margin-left: 70px;
    margin-right: 40px;
}


.sub-container4 {
    display: flex;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(182, 179, 179, 0.904);
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 15em;
}

.sub-container4 .writings4 {
    align-self: center;
    text-align: left;
    margin-left: 90px;
    margin-right: 20px;
}

.sub4-image img {
    margin: 40px;
}

.mid-container {
    border: 2px solid hsl(0, 0%, 100%);
    background-color: #fff;
    border-radius: 20px;
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgb(31, 30, 30);
    position: absolute;
    justify-self: center;
    top: -120px;
}

.mid-container h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.mid-container .mid-btn {
    color: #fff;
    font-size: 15px;
    width: 50%;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    padding: 17px 45px;
    border-radius: 50px;
    background-color: rgba(250, 6, 197, 0.986);
    border: 1px solid rgba(250, 6, 197, 0.986);
    
}


                                    /* SECTION 3 */
.sect3 {
    background-color: hsl(192, 92%, 14%);
    padding-top: 90px;
    padding-bottom: 3em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    position: relative;
}

.sub-container5 {
    padding-left: 4em;
}

.sub-container5 h3 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}

.sub-container6 {
    align-self: center;
}

.sub-container6 li {
    list-style: none;
    margin-bottom: 20px;
}

.sub-container6 a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    
}

.sub-container6 a:hover {
    text-decoration: underline;
}

.sub-container7 {
    align-self: center;
}

.sub-container7 li {
    list-style: none;
    margin-bottom: 20px;
}

.sub-container7 a:hover {
    text-decoration: underline;
}

.sub-container7 a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding-bottom: 20px;
}

.sub-container8 {
    align-self: center;
    padding-right: 2em;
    border-radius: 50%;
}

.facebook, .twitter, .instagram {
    background-color: #fff;
    border-radius: 35%;
    margin: 5px;
}

.sub-container8 img:hover {
    background-color: #f380dafb;
}

.location, .writings5 {
    display: inline-flex;
}

.phone, .digits {
    display: inline-flex;
}

.email, .mail {
    display: inline-flex;
}

.phone, .location, .email {
    margin-right: 12px;
}

@media only screen and (max-width: 1110px) {
    .sect1 {
        padding: 65px;
        padding-top: 20px;
        background-color: rgb(170, 218, 235);
    }

    .sub1-image > img {
        width: 500px;
        height: 440px;
    }

    h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 42px;
        font-weight: 600;
    }

    .writings1 > p {
        margin-top: 12.25px;
        margin-bottom: 12.25px;
        font-size: 17px;
        font-weight: 300;
    }

    .btn2 {
        font-weight: bold;
        padding: 10px 35px;
    }
}

@media only screen and (max-width: 919px) {
    .sub1-image > img {
        width: 395px;
        height: 400px;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 37px;
        font-weight: 600;
    }

    .writings1 > p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
    }

    .btn2 {
        font-weight: bold;
        padding: 8px 29px;
    }

    .sub3-image img {
        width: 340px;
        height: 360px;
        margin: 40px;
        margin-right: 0px;
    }

    .sub-container3 .writings3 {
        text-align: left;
        margin-left: 10px;
        margin-right: 15px;
        margin-bottom: 50px;
    }
}

/* @media only screen and (max-width: 1050px) {
    .sub3-image > img {
        width: 375px;
        height: 295px;
        margin-left: 80px;
    }
} */

@media only screen and (max-width: 600px) {
                /* SECTION 1 */
    .sect1 {
        padding: 30px;
        padding-top: 20px;
    }
    
    .sub {
        padding: 0px;
        padding-top: 10px;
    }

    .btn1 {
        margin-left: auto;
        padding: 10px 20px;
    }

    .sub-container1 {
        display: block;
        margin-top: 80px;
    }

    .sub-container1 .writings1 {
        text-align: center;
    }
    
    h1 {
        font-size: 47px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    
    .writings1 > p {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    
    .btn2 {
        font-weight: bold;
        font-size: 17px;
        padding: 25px 120px;
        margin-bottom: 50px;
        border-radius: 50px;
    }

    .sub1-image > img {
        width: 440px;
        height: 380px;
    }

                 /* SECTION 2 */
    .sub-container2 {
        display: block;
        /* width: 510px; */
        border-radius: 20px;
        margin-top: 100px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 15px 20px;
        justify-items: center;
    }

    .sub-container2 .writings2 {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    h2 {
        font-size: 42px;
    }

    .sub-container2 .writings2 P {
        font-size: 31px;
    }

    .sub2-image {
        justify-content: center;
        justify-items: center;
    }

    .sub2-image img {
        width: 410px;
        height: 380px;
        margin-right: auto;
    }

    .sub-container3 {
        display: block;
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 15px 20px;
        justify-items: center;
    }

    .sub3-image img {
        width: 400px;
        height: 360px;
        margin-right: auto;
        margin-left: 50px;
    }

    .sub-container3 .writings3 {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 50px;
    }

    .sub-container3 .writings3 P {
        font-size: 31px;
    }

    .sub-container4 {
        display: block;
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 15px 20px;
        justify-items: center;
    }

    .sub4-image img {
        width: 410px;
        height: 380px;
        margin-right: auto;
    }

    .sub-container4 .writings4 {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .sub-container4 .writings4 P {
        font-size: 31px;
    }

    .sect3 {
        display: block;
    }

    .sub2 {
        width: 210px;
        height: 60px;
    }

    .sub-container5 {
        padding-left: 2em;
    }

    .sub-container5 h3 {
        font-size: 1.3em;
    }

    .sub-container6 {
        padding-left: 2em;
    }

    .sub-container6 p a {
        font-size: 1.3em;
        margin: 30px 0px
    }

    .sub-container7 {
        padding-left: 2em;
    }

    .sub-container7 p a {
        font-size: 1.3em;
        margin: 50px 0px
    }

    .sub-container8 {
        margin-top: 60px;
        text-align: center;
        margin-bottom: 60px;
    }

    .facebook, .twitter, .instagram {
        width: 60px;
        height: 60px;
        border-radius: 47%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 380px) {
                 /* SECTION 1 */
    .sect1 {
    padding: 30px;
    padding-top: 20px;
    }

.sub {
    padding: 0px;
    padding-top: 10px;
    }

    .btn1 {
        margin-left: auto;
        padding: 6px 10px;
    }

    .logo {
        width: 100px;
        height: 22px;
    }

    .sub-container1 {
        display: block;
        margin-top: 65px;
        place-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .writings1 > p {
        font-size: 19px;
        font-weight: 300;
        margin-bottom: 40px;
    }

    .btn2 {
        font-weight: bold;
        font-size: 15px;
        padding: 15px 55px;
        margin-bottom: 50px;
        border-radius: 50px;
    }

    .sub1-image > img {
        text-align: center;
        width: 285px;
        height: 200px;
    }

                 /* SECTION 2 */
    .sub-container2 {
    display: block;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 13px;
    margin-right: 13px;
    padding: 15px 10px;
    justify-items: center;
    }

    .sub-container2 .writings2 {
        text-align: center;
        padding: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    h2 {
        font-size: 27px;
    }

    .sub-container2 .writings2 P {
        font-size: 19px;
    }

    .sub2-image {
        text-align: center;
    }

    .sub2-image img {
        width: 280px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .sub-container3 {
        display: block;
        border-radius: 20px;
        margin-top: 40px;
        margin-left: 13px;
        margin-right: 13px;
        padding: 15px 10px;
        justify-items: center;
    }

    .sub3-image {
        text-align: center;
    }

    .sub3-image img {
        width: 280px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .sub-container3 .writings3 {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 50px;
    }

    .sub-container3 .writings3 P {
        font-size: 18px;
    }

    .sub-container4 {
        display: block;
        margin-top: 40px;
        margin-left: 13px;
        margin-right: 13px;
        padding: 15px 10px;
        justify-items: center;
    }

    .sub-container4 .writings4 {
        text-align: center;
        padding: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .sub-container4 .writings4 P {
        font-size: 19px;
    }

    .sub4-image {
        text-align: center;
    }

    .sub4-image img {
        width: 280px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .sect3 {
        display: block;
    }

    .sub2 {
        width: 150px;
        height: 30px;
    }

    .sub-container5 {
        padding-left: 1.2em;
    }

    .sub-container5 h3 {
        font-size: 10px;
    }

    .location, .writings5 {
        margin-top: 40px;
    }

    .sub-container6 {
        padding-left: 1.2em;
    }

    .sub-container6 ul {
        padding-left: 0px;
    }

    .sub-container6 p a {
        font-size: 17px;
        margin: 30px 0px
    }

    .sub-container7 {
        padding-left: 1.2em;
    }

    .sub-container7 ul {
        padding-left: 0px;
    }

    .sub-container7 p a {
        font-size: 17px;
        margin: 50px 0px
    }

    .sub-container8 {
        margin-top: 60px;
        text-align: center;
        padding-right: 0px;
        margin-bottom: 60px;
    }

    .facebook, .twitter, .instagram {
        width: 40px;
        height: 40px;
        border-radius: 47%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .mid-container {
        border: 1px solid hsl(0, 0%, 100%);
        background-color: #fff;
        border-radius: 20px;
        width: 75vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        box-shadow: 0 8px 16px 0 rgb(31, 30, 30);
        position: absolute;
        justify-self: center;
        top: -120px;
    }
    
    .mid-container h2 {
        font-size: 15px;
        text-align: center;
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .mid-container .mid-btn {
        color: #fff;
        font-size: 12px;
        width: 50%;
        justify-content: center;
        margin-top: 15px;
        padding: 9px 9px;
        
    }
    
    .sect3 {
        background-color: hsl(192, 92%, 14%);
        padding-top: 90px;
        padding-bottom: 3em;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
        position: relative;
    }

    .block {
        display: block;
    }
}

